.cta-bg{
    position: relative;
    min-width: 100vw;
    min-height: 40vh;
    color:white;
    background-color: #F84646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cta-bg-img{
    position: absolute;
    width: 100vw;
    height: 40vh;
    mix-blend-mode: lighten;
}

.cta-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.cta-div1-title{
    font-size: clamp(36px,2vw,48px);
}

.cta-div1-content{
    font-weight: 400;
    font-size: clamp(12px,2vw,18px);
}

.cta-div2{
    display: flex;
    align-items: center;
    gap:2rem;
}

.cta-icon{
    width: 20px;
    height:20px;
}
