.App{
    min-width: 100vw;
}

.landing-page{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../public/assets/homeBG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen  and (max-width:320px){
    
}